.clear {
  height: 6vw;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom:1vw;
  background-color:transparent;
}

.header {
  width: 100vw;
  height: 6vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 5vw;
  z-index:99;
  transition:0.3s;
  background-color:transparent;
  .menu {
    ul {
      display: flex;
      li {
        margin:2vw 1.5vw;
        a{
          font-family: "Titillium-Regular";
          text-decoration: none;
          color: #898989;
          transition: 0.3s;
          &:hover {
            color:#474747;
          }
        }
      }
    }
  }
  .feedback {
    button {
      background-color: #8833ff;
      border:none;
      border-radius:0.5vw;
      padding:1vw 1.5vw;
      font-family: "Titillium-Bold";
      color:#fff;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        box-shadow: 0 1px 4px #be8fff;
      }
    }
  }
}

.sticky-header{
  background-color: #fff;
  transition: 0.3s;
  width: 100%;
}
